<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChessService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:47703/ChessService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IChessService" contract="ChessService.IChessService"
                name="BasicHttpBinding_IChessService" />
        </client>
    </system.serviceModel>
</configuration>